.post-comments {
    margin: -20px 15px 0 15px;
    padding: 5px 0 5px 50px;
    background-color: whitesmoke;
}

.post-comment {
    display: block;
    text-align: left;
    background-color: white;
    padding: 5px 10px;
}

.author {
    font-size: 1.1em;
    font-weight: 600;
    margin-bottom: 5px;
}

.comment-content {
    font-size: 1em;
    margin-bottom: 5px;
    word-wrap: break-word;
    line-height: 1.4;
}

.reply {
    border-left: 2px solid lightgray;
    margin: 15px 0 15px 10px;
}

.reply::after {
    content: "⚬";
    position: relative;
    top: 15px;
    left: -4.5px;
    /* border-left: 2px solid gray; */
}

.reply:hover, 
.reply::after:hover {
    display: none;
    background-color: black;
}