.searchItems {
    grid-area: 1 / 2 / 2 / 4;
    display: flex;
    justify-content: center;
}

.searchBox {
    outline:none;
    border: none;
    height: 35px;
    width: 55%;
    border-radius: 17.5px 0 0 17.5px;
    outline: none;
    padding-left: 15px;
    background-color:whitesmoke;
    color:black;
}

.searchBox::placeholder {
    color: rgba(0, 0, 0, 0.5);
    position: relative;
}

.searchButton {
    position: relative;
    border: none;
    font-size: 20px;
    outline: none;
    height: 37px;
    width: 45px;
    border-radius: 17.5px;
    right: 17.5px;
    background-color: whitesmoke;
    color:#aa9696;
    transition: background-color linear 160ms;
}

.searchButton:hover {
    color:white;
    cursor: pointer;
    background-color: #aa9696
}