.App {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 70px auto;
    grid-template-areas: 
        'navbar navbar navbar navbar'
        'left middle middle right';
    width: 100%;
    grid-auto-flow: row;
    grid-auto-columns: 2fr;
}

nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    background-color: white;
    border-bottom: 2px double #aa9696;
    position: fixed;
    height: 70px;
    text-align: center;
    align-items: center;
    z-index: 10;
    
}

nav img {
    position: relative;
    display: inline-block;
    width: auto;
    height: 50px;
}

#hamburger {
    display: none;
}

@media screen and (max-width: 1200px) {
    #hamburger {
        display: block;
    }
}
