.post-area {
    grid-area: middle;
}

@media screen and (max-width: 1200px) {
    .post-area {
        grid-column-start: left;
        grid-column-end: right;
    }
    .post {
        margin: 20px 15px;
    }
}
