.post-area {
    grid-area: middle;
    text-align: center;
}

.error {
    background-color: white;
    color: red;
    font-weight: 800;
    font-size: 1.7em;
}

@media screen and (max-width: 1200px) {
    .post-area {
        grid-column-start: left;
        grid-column-end: right;
    }
    .post {
        margin: 20px 15px;
    }
}
